<div class="col-md-6">
  <h3 class="text-center">
    Pull Requests
  </h3>
  <div class="tabbable" id="tabs-96340">
    <div class="tab-content">
      <div class="tab-pane active" id="panel-676689">
        <% @pulls.each do |pull| %>
          <ul class="list-group">
            <li class="list-group-item">Title: <%= pull.title %></li>
            <% pull.comments.each do |comment| %>
            <div class="comments-container">
              <ul id="comments-list" class="comments-list">
                <li>
                  <div class="comment-main-level">
                    <div class="comment-avatar"><%= image_tag 'my_logo.png', width: 59, height: 59 %></div>
                    <div class="comment-box">
                      <div class="comment-head">
                        <h6 class="comment-text"></h6>
                        <p><%= comment.text %><%= image_tag comment.gif_url, class: "gif", alt: "Excited gif", width: '60', height: '60' %></p>
                        <span>Added <%= comment.created_at %></span>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </ul>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>