<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Test GitApp", root_path, id: "logo" %>
      <nav>
        <ul class="nav navbar-nav navbar-right">
          <% if current_user %>
            <li>Signed in as <%= current_user.login %></li>
            <li><%= link_to 'Organizations', organizations_path %></li>
            <li><%= link_to 'Repositories', repositories_path %></li>
            <li><%= link_to 'Refresh data', fetch_github_data_path %></li>
            <li><%= link_to image_tag(current_user.profile_image, width: '50', height: '50', class: 'img-circle'), repositories_path %></li>
            <li><%= link_to "Log out", sign_out_path, method: "delete"%></li>
          <% end %>
        </ul>
      </nav>
  </div>
</header>