<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/shim' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <% flash.each do |message_type, message| %>
      <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
    <% end %>
    <% if !current_user %>
      <div class="center jumbotron">
        <h1>Welcome to GitHub Checker</h1>
        <%= link_to "Sign up with GitHub!", '/auth/github', class: "btn btn-lg btn-primary" %>
      </div>
    <% else %>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-2">
            <div class="card" style="width: 20rem;">
              <%= image_tag current_user.profile_image, class: "card-img-top", alt: "Card image cap", width: '229', height: '230' %>
              <div class="card-body">
                <h4 class="card-title login"><%= current_user.login %></h4>
                <h4 class="card-text">Organizations</h4>
              </div>
              <ul class="list-unstyled">
                <% current_user.organizations.each do |organization| %>
                  <li><%= link_to image_tag(organization.avatar_url, width: '35', height: '35'), organization_repositories_path(organization) %>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
          <%= yield %>
          <% end %>
        </div>
      </div>
    </div>
  </body>
</html>
